[submodule "fallBack/lib/forge-std"]
	path = fallBack/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernautChallenges/lib/openzeppelin-contracts"]
	path = ethernautChallenges/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
